<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.rl.resumption.mapper.ResumptionMapper">
    <!-- 天津市 统计巡查情况 -->

    <!-- 按区为单位统计各级河长应巡次数 -->
    <select id="findNeedPatrolNum"  parameterType="java.util.Map" resultType="com.uhope.rl.resumption.dto.statistics.ReachPatrolNumStatisticDTO">
    SELECT mar.area_code AS regionId, mar.area_name AS regionName, mar.grade as regionGrade,IFNULL(t_ro.needNum,0) as
        <if test="regionGrade == 3">countyNeedPatrolNum</if>
        <if test="regionGrade == 4">townNeedPatrolNum</if>
        <if test="regionGrade == 5">villageNeedPatrolNum</if>
	FROM md_administrative_region mar
    LEFT JOIN
    (
        SELECT CONCAT(LEFT(t_rn.region_code,6),'000000') AS regionStr, SUM(t_rn.needReachNum) as needNum
        FROM
        (
            SELECT t_rm.region_code,
            #{intervalMonths}*count(t_rm.region_code)*IFNULL(achs.patrolMarkMonth,IFNULL(achs.patrolMarkTenDay*3,IFNULL(achs.patrolMarkWeek * 4, IFNULL(achs.patrolMarkDay * 30,0)))) AS needReachNum
                FROM
                (
                    SELECT  su.`region_id` as region_code,mrcm.`CHAIRMANLEVEL`,mrcm.`chairman_role`
                    FROM sm_user su,md_reachchairman mrcm
                    WHERE su.`id` = mrcm.`chairmanid` AND mrcm.CHAIRMANLEVEL=#{regionGrade}
                )t_rm
            LEFT JOIN am_check_standard achs ON t_rm.CHAIRMANLEVEL = achs.roleLevel AND t_rm.chairman_role = achs.roleId
            GROUP BY t_rm.region_code
            )t_rn GROUP BY regionStr
    )t_ro ON t_ro.regionStr=mar.area_code WHERE mar.grade=3
        <if test="regionId != null">
            AND t_ro.regionStr=#{regionId}
        </if>
    </select>

    <!-- 按区为单位统计各级河长已巡次数 -->
    <select id="findHadPatrolNum"  parameterType="java.util.Map" resultType="com.uhope.rl.resumption.dto.statistics.ReachPatrolNumStatisticDTO">
    SELECT mar.area_code AS regionId, mar.area_name AS regionName, mar.grade as regionGrade,IFNULL(t_ro.hadNum,0) as
    <if test="regionGrade == 3">countyHasPatrolNum</if>
    <if test="regionGrade == 4">townHasPatrolNum</if>
    <if test="regionGrade == 5">villageHasPatrolNum</if>
    FROM md_administrative_region mar
        LEFT JOIN
        (
            SELECT CONCAT(LEFT(t_rn.regionStr,6),'000000') AS regionStr, SUM(t_rn.hadNum) as hadNum
            FROM
            (
                SELECT mr.region_code AS regionStr, t_n.hadNum, mr.grade
                FROM
                (
                    SELECT mlc.REACHID,COUNT(mlc.REACHID) as hadNum
                    FROM md_locusrecord mlc
                    WHERE 1=1
                    <if test="startTime != null">
                        <![CDATA[
                     AND   mlc.`CREATETIME` >= CONCAT(#{startTime},' 00:00:00')
                    ]]>
                    </if>
                    <if test="endTime != null">
                        <![CDATA[
                     AND   mlc.`CREATETIME` <= CONCAT(#{endTime},' 23:59:59')
                    ]]>
                    </if>
                    GROUP BY mlc.REACHID
                )t_n
                LEFT JOIN md_reach mr ON mr.id=t_n.REACHID
                WHERE mr.grade=#{regionGrade}
            )t_rn GROUP BY regionStr
        )t_ro ON t_ro.regionStr=mar.area_code WHERE mar.grade=3
        <if test="regionId != null">
            AND t_ro.regionStr=#{regionId}
        </if>
    </select>

    <!-- 查找各级河长各自的巡河情况 -->
    <select id="findPersonPatrolNum" parameterType="java.util.Map"  resultType="com.uhope.rl.resumption.dto.statistics.ReachmanPatrolNumStatisticDTO">
    SELECT t_all.chairman_name AS reachmanName, t_all.CHAIRMANLEVEL as reachmanLevel, t_all.needReachNum AS needReachNum, t_all.hadReachNum AS hadReachNum
    FROM
    (
        SELECT CONCAT(LEFT(t_rn.region_code,6),'000000') AS regionStr,t_rn.chairman_name, t_rn.CHAIRMANLEVEL,  t_rn.needReachNum, IFNULL(t_ur.hadReachNum,0) AS hadReachNum
        FROM
        (
            SELECT t_rm.region_code,t_rm.CHAIRMANID, t_rm.chairman_name,t_rm.CHAIRMANLEVEL,
                   #{intervalMonths}*t_rm.num*IFNULL(achs.patrolMarkMonth,IFNULL(achs.patrolMarkTenDay*3,IFNULL(achs.patrolMarkWeek * 4, IFNULL(achs.patrolMarkDay * 30,0)))) AS needReachNum
            FROM
            (
                SELECT mr.region_code,COUNT(0) as num, mrcm.chairman_name, mrcm.REACHID, mrcm.CHAIRMANLEVEL,  mrcm.chairman_role,mrcm.CHAIRMANID
                FROM md_reachchairman mrcm, md_reach mr
                WHERE mrcm.chairmanlevel=#{regionGrade} AND mr.id=mrcm.REACHID
                GROUP BY mrcm.CHAIRMANID
            )t_rm
            LEFT JOIN am_check_standard achs ON t_rm.CHAIRMANLEVEL = achs.roleLevel AND t_rm.chairman_role = achs.roleId
        )t_rn
        LEFT JOIN
        (
            SELECT mlr.USERID,COUNT(0) AS hadReachNum
            FROM md_locusrecord mlr
            WHERE 1=1
            <if test="startTime != null">
                <![CDATA[
                 AND   mlr.`CREATETIME` >= CONCAT(#{startTime},' 00:00:00')
                ]]>
            </if>
            <if test="endTime != null">
                <![CDATA[
                 AND   mlr.`CREATETIME` <= CONCAT(#{endTime},' 23:59:59')
                ]]>
            </if>
            GROUP BY mlr.USERID
        )t_ur ON t_rn.CHAIRMANID=t_ur.USERID
    )t_all
    WHERE regionStr=#{regionId};
    </select>

    <select id="findRegionNumStatistic" parameterType="java.util.Map" resultType="com.uhope.rl.resumption.dto.statistics.ProblemTypeStatisticDTO">
    SELECT t_b.areaCode as regionId, t_b.typeName as typeName, IFNULL(t_c.zaiban,0) as unfinishedNum, IFNULL(t_c.yiban,0) as finishedNum
    from
    (
        select mar.area_name as areaName, et.typename as typeName, et.id as typeId, mar.id as areaCode
        from eh_type et
        LEFT JOIN md_administrative_region mar on 1=1
        where et.type_level=1 and mar.grade=#{grade}
    )t_b LEFT JOIN
    (
        SELECT t_d.zaiban,t_e.yiban,t_d.areaCode,t_d.typeId
        FROM
        (
            SELECT t_a.type,t_a.typeId,t_a.areaCode,count(0) as zaiban  from
            (
                    select t_r.status,t_l.typeId,t_r.type,t_l.areaCode
                    from
                    (
                        select et.id as typeId, mar.id as areaCode
                        from eh_type et
                        LEFT JOIN md_administrative_region mar on 1=1
                        where et.type_level=1 and mar.grade=#{grade}
                    )t_l
                    LEFT JOIN
                    (
                        select ee.type, ee.eventresource, ee.status, ee.createtime,
                        <if test="grade==3">CONCAT(LEFT(su.region_id,6),'000000')</if>
                        <if test="grade==4">CONCAT(LEFT(su.region_id,9),'000')</if>
                        <if test="grade==5">su.region_id</if>
                         AS region_id
                        from eh_event ee, sm_user su
                        where ee.REPORTPERSONID=su.id
                        <if test="startTime != null">
                            <![CDATA[
                             AND   ee.`CREATETIME` >= CONCAT(#{startTime},' 00:00:00')
                            ]]>
                        </if>
                        <if test="endTime != null">
                            <![CDATA[
                             AND   ee.`CREATETIME` <= CONCAT(#{endTime},' 23:59:59')
                            ]]>
                        </if>
                    )t_r ON t_r.region_id=t_l.areaCode AND t_r.type=t_l.typeId
            )t_a WHERE t_a.status != 'Z'
            GROUP BY typeId
        )t_d LEFT JOIN
        (
            SELECT t_a.type1,t_a.typeId1,t_a.areaCode1,count(0) as yiban  from
            (
                select t_r.status1,t_l.typeId1,t_r.type1,t_l.areaCode1
                from
                (
                    select et.id as typeId1, mar.id as areaCode1
                    from eh_type et
                    LEFT JOIN md_administrative_region mar on 1=1
                    where et.type_level=1 and mar.grade=#{grade}
                )t_l
                LEFT JOIN
                (
                    select ee.type as type1, ee.eventresource as resource1, ee.status as status1, ee.createtime as createtime1,
                    <if test="grade==3">CONCAT(LEFT(su.region_id,6),'000000')</if>
                    <if test="grade==4">CONCAT(LEFT(su.region_id,9),'000')</if>
                    <if test="grade==5">su.region_id</if>
                    AS region_id1
                    from eh_event ee, sm_user su
                    where ee.REPORTPERSONID=su.id
                    <if test="startTime != null">
                        <![CDATA[
                                 AND   ee.`CREATETIME` >= CONCAT(#{startTime},' 00:00:00')
                                ]]>
                    </if>
                    <if test="endTime != null">
                        <![CDATA[
                                 AND   ee.`CREATETIME` <= CONCAT(#{endTime},' 23:59:59')
                                ]]>
                    </if>
                )t_r ON t_r.region_id1=t_l.areaCode1 AND t_r.type1=t_l.typeId1
            )t_a WHERE t_a.status1 = 'Z'
            GROUP BY typeId1
        )t_e ON t_d.areaCode=t_e.areaCode1 AND t_d.type=t_e.type1
    )t_c
    ON t_c.areaCode=t_b.areaCode AND t_c.typeId=t_b.typeId
    WHERE t_b.areaCode = #{regionId}
    </select>

    <select id="findAllRegionNumStatistic" parameterType="java.util.Map" resultType="com.uhope.rl.resumption.dto.statistics.ProblemStatisticDTO">
      SELECT id as regionId, area_name as regionName from md_administrative_region WHERE parent_code = #{parentId}
    </select>

    <select id="findWithMoreProblemReach" resultType="com.uhope.rl.resumption.dto.statistics.ProblemNumStatistic">
    SELECT t_b.id AS regionId ,t_b.reach_name AS reachName,COUNT(0) AS problemNum, t_b.grade AS grade, t_b.chairman_name AS reachManName FROM
    (
    SELECT ee.EVENTREACHID FROM eh_event ee, md_reach mr
    WHERE ee.eventreachid=mr.id AND ee.createtime >= date_sub(curdate(),interval WEEKDAY(curdate()) day)
    )t_a
    LEFT JOIN
    (
            SELECT mr.id,mr.reach_name, mr.grade, mrcm.chairman_name
            FROM md_reach mr,md_reachchairman mrcm
            WHERE mr.id=mrcm.REACHID
    )t_b
    ON t_a.EVENTREACHID=t_b.id
    GROUP BY t_b.id
    ORDER BY problemNum DESC
    LIMIT 10;
    </select>
</mapper>