<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uhope.statistic.mapper.AmReachAssessMapper" >
  <resultMap id="BaseResultMap" type="com.uhope.statistic.domain.AmReachAssess" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="region_name" property="regionName" jdbcType="VARCHAR" />
    <result column="river_name" property="riverName" jdbcType="VARCHAR" />
    <result column="reach_name" property="reachName" jdbcType="VARCHAR" />
    <result column="input_section" property="inputSection" jdbcType="VARCHAR" />
    <result column="output_section" property="outputSection" jdbcType="VARCHAR" />
    <result column="target_water_quality" property="targetWaterQuality" jdbcType="VARCHAR" />
    <result column="year_target_water_quality" property="yearTargetWaterQuality" jdbcType="VARCHAR" />
    <result column="is_sewage_factory" property="isSewageFactory" jdbcType="INTEGER" />
    <result column="is_compensation" property="isCompensation" jdbcType="INTEGER" />
    <result column="scoring_rules" property="scoringRules" jdbcType="VARCHAR" />
    <result column="is_water_quality_assess" property="isWaterQualityAssess" jdbcType="INTEGER" />
  </resultMap>
</mapper>