<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.statistic.mapper.StatisticMapper">

    <select id="listRegionName" resultType="com.uhope.statistic.dto.RiverStatisticDTO">
        SELECT area_name AS regionName
        FROM md_administrative_region
        WHERE grade=3
    </select>

    <select id="listWaterQualityData" resultType="com.uhope.statistic.dto.WaterQualityDTO">
        SELECT mar.area_name AS regionName, IFNULL(t_a.oxygen,0) AS oxygen, IFNULL(t_a.phosphorus,0) AS phosphorus, IFNULL(t_a.permanganate,0) AS permanganate, IFNULL(t_a.AN,0) AS AN
        FROM md_administrative_region mar
        LEFT JOIN
        (
            SELECT mar.area_name AS regionName, ROUND(AVG(wqg.`DO`),2) AS oxygen, ROUND(AVG(wqg.total_phosphorus),2) AS phosphorus, ROUND(AVG(wqg.permanganate_index),2) AS permanganate, ROUND(AVG(wqg.ammonia_nitrogen),2) AS AN
            FROM water_quality_grade wqg, md_section ms, md_administrative_region mar
            WHERE wqg.`name`=ms.`NAME` AND mar.area_code=ms.COUNTYID AND ms.SECTIONLEVEL=3
            GROUP BY regionName
        )t_a ON mar.area_name = t_a.regionName
        WHERE mar.grade=3
    </select>
    <!--社会监督满意度调查扣分-->
    <select id="listSuperviseDTOs" parameterType="java.util.Map" resultType="com.uhope.statistic.dto.SuperviseDTO">
        SELECT mar.area_code AS regionId, mar.area_name AS regionName, IFNULL(t_a.num, 0) as grade
        FROM md_administrative_region mar
        LEFT JOIN
        (
        SELECT * ,IF(5*COUNT(0) <![CDATA[ < ]]> 50, 5*COUNT(0), 50) as num
        FROM (
        SELECT sse.river_name, term_number, region_name, dissatisfied_reason
        FROM sh_social_evaluation sse
        WHERE sse.is_satisfied=0 AND sse.term_number=#{date}
        GROUP BY river_name
        )t_a
        GROUP BY region_name
        )t_a ON t_a.region_name=mar.area_name
        WHERE mar.grade=3
        ORDER BY mar.area_code
    </select>
    <!--根据期号查询区域地表水成绩-->
    <select id="listSurfaceWaterDTO" parameterType="java.util.Map" resultType="com.uhope.statistic.dto.SurfaceWaterDTO">
        SELECT mar.area_code, mar.area_name, IFNULL(t_a.grade, 0) as num
        FROM md_administrative_region mar
        LEFT JOIN
        (
                SELECT sw.issue, swg.popedom, swg.grade
                FROM surface_water_grade swg, surface_water sw
                WHERE swg.parentId=sw.id AND sw.issue=#{date}
        )t_a ON t_a.popedom=mar.area_name
        WHERE mar.grade=3
        ORDER BY mar.area_code
    </select>
    <!--根据期号查取社会监督网络舆情处置扣分成绩-->
    <select id="listSuperviseSentiment" parameterType="java.util.Map" resultType="com.uhope.statistic.dto.SuperviseDTO">
        SELECT mar.area_code, mar.area_name, IFNULL(t_a.num, 0) as num
        FROM md_administrative_region mar
        LEFT JOIN
        (
            SELECT ssr.region_name, IF((5*COUNT(0) <![CDATA[ < ]]> 25), 5*COUNT(0), 25) AS num
            FROM sh_social_report ssr
            WHERE ssr.processing_status = '未处理' AND ssr.report_evaluate='2' AND CURRENT_TIMESTAMP() > ssr.over_time
            AND ssr.report_source= '微信公众号' OR ssr.report_source='河长门户'
            AND DATE_FORMAT(ssr.report_date, '%Y-%m')=#{date}
            GROUP BY ssr.region_name
        )t_a ON t_a.region_name=mar.area_name
        WHERE mar.grade=3
        ORDER BY mar.area_code
    </select>
    <!--根据期号查取社会监督电话举报扣分-->
    <select id="listSuperviseTelephone" parameterType="java.util.Map" resultType="com.uhope.statistic.dto.SuperviseDTO">
        SELECT mar.area_code, mar.area_name, IFNULL(t_a.num, 0) as num
        FROM md_administrative_region mar
        LEFT JOIN
        (
            SELECT ssr.region_name, IF((5*COUNT(0) <![CDATA[ < ]]> 25), 5*COUNT(0), 25) AS num
            FROM sh_social_report ssr
            WHERE ssr.processing_status = '未处理' AND ssr.report_evaluate='2' AND CURRENT_TIMESTAMP() > ssr.over_time
            AND ssr.report_source!= '微信公众号' AND ssr.report_source!='河长门户'
            AND DATE_FORMAT(ssr.report_date, '%Y-%m')=#{date}
            GROUP BY ssr.region_name
        )t_a ON t_a.region_name=mar.area_name
        WHERE mar.grade=3
        ORDER BY mar.area_code
    </select>
    <!--根据期号查取河湖堤岸水面环境卫生扣分成绩-->
    <select id="listWaterSanitation" resultType="com.uhope.statistic.dto.SuperviseDTO">

    </select>
    <!--根据期号查取河湖岸线管理扣分成绩-->
    <select id="listShoreLineManage" resultType="com.uhope.statistic.dto.SuperviseDTO">

    </select>
    <!--根据期号查取河长巡河情况扣分项-->
    <select id="listRiverPatrol" resultType="com.uhope.statistic.dto.SuperviseDTO">

    </select>

</mapper>