<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.assessment.mapper.IllegalXizeMapper">
    <!-- IllegalXize的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="riMap" type="com.uhope.assessment.dto.IllegalXizeDTO">
        <id column="ID" property="id" />
        <result column="GRADEILLEGAL" property="gradeillegal" />
        <result column="GRADETYPE" property="gradetype" />
        <result column="GRADEDETAILED" property="gradedetailed" />
        <result column="GRADEWAY" property="gradeway" />
        <result column="DEDUCT_MARKS" property="deductMarks" />
        <result column="PROCESS_LIMITTED" property="processLimitted" />
        <result column="LEVEL" property="level" />
        <result column="PARENTID" property="parentid" />
    </resultMap>
    <select id="list" parameterType="java.util.Map" resultType="com.uhope.assessment.dto.IllegalXizeDTO">
        select * from illegal_xize where PARENTID=#{parentId}
    </select>
    <select id="list1" resultType="com.uhope.assessment.dto.IllegalXizeDTO">
        select * from illegal_xize where PARENTID is null
    </select>


</mapper>