<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.inspection.mapper.ComtactPersonMapper">
  <resultMap id="BaseResultMap" type="com.uhope.inspection.domain.ScComtactPerson">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="inspectionid" jdbcType="VARCHAR" property="inspectionid" />
  </resultMap>
  <select id="selectById" resultMap="BaseResultMap">
    select * from sc_comtact_person where inspectionid = #{inspectionid}
  </select>
</mapper>