<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.inspection.mapper.ResultFeedbackMapper">
  <resultMap id="BaseResultMap" type="com.uhope.inspection.domain.ScResultFeedback">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="whether" jdbcType="INTEGER" property="whether" />
    <result column="accessory" jdbcType="VARCHAR" property="accessory" />
    <result column="handle_date" jdbcType="VARCHAR" property="handleDate" />
    <result column="inspectionid" jdbcType="VARCHAR" property="inspectionid" />
  </resultMap>
  <select id="selectById" resultMap="BaseResultMap">
    select * from sc_result_feedback where inspectionid = #{inspectionId}
  </select>
</mapper>