<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.sewage.mapper.SewageDisposeMapper">

    <select id="selectList" resultType="com.uhope.sewage.domain.SewageDispose">
        select * from sewage_dispose
        <where>
            <if test="num !=null and num!=''">
                and status !=#{num}
            </if>
            <if test="issue != null and issue!=''">
                and issue = #{issue}
            </if>
            <if test="status != null and status !=''">
                AND status=#{status}
            </if>
            <if test="createUser != null and createUser !=''">
                AND createUser like CONCAT('%',#{createUser},'%')
            </if>

        </where>
    </select>

    <select id="selectRole" resultType="java.lang.String">
        select name from sm_role sr INNER JOIN (select sur.role_id from sm_user_role sur where sur.user_id=#{id}) s on
          sr.id=s.role_id
    </select>
    <select id="selectHave" resultType="com.uhope.sewage.domain.SewageDispose">
        select * from sewage_dispose where issue=#{issue}
    </select>
</mapper>