<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uhope.spotcheck.mapper.ScSpotcheckProblemMapper" >
  <resultMap id="BaseResultMap" type="com.uhope.spotcheck.domain.ScSpotcheckProblem" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="spotcheck_id" property="spotcheckId" jdbcType="VARCHAR" />
    <result column="problem_type_id" property="problemTypeId" jdbcType="VARCHAR" />
    <result column="attach" property="attach" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="problem_desc" property="problemDesc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <select id="listSendPerson" resultType="java.lang.String">
    select distinct chairman_name
    from md_reachchairman
    where chairmanlevel=2
  </select>
  <select id="listRegion" resultType="java.lang.String">
    select distinct area_name
    from md_administrative_region
    where grade=3
  </select>

</mapper>