<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.ancha.mapper.AnzhaBulletinMapper">
    <!-- AnzhaBulletin的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_AnzhaBulletin_Map" type="com.uhope.ancha.domain.AnzhaBulletin">
        <id column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="MONTH" property="month" />
        <result column="CONTENT" property="content" />
        <result column="ACCESSORY" property="accessory" />
        <result column="STATUS" property="status" />
        <result column="SCHEMEID" property="schemeid" />
    </resultMap>

    <select id="selectList" resultType="com.uhope.ancha.dto.AnzhaBulletinDTO">
        select * from anzha_bulletin
        <where>
            <if test="month != null and month !='' ">
                and MONTH = #{month}
            </if>
            <if test="title != null and title !=''">
                AND TITLE like CONCAT('%',#{title},'%')
            </if>
            <if test="status != null and status !=''">
                AND status=#{status}
            </if>
            <if test="num !=null and num !=''">
                and status !=#{num}
            </if>
        </where>
    </select>


</mapper>