<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.ancha.mapper.AnzhaReviewMapper">
    <!-- AnzhaReview的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="AnzhaReview_Map" type="com.uhope.ancha.domain.AnzhaReview">
        <id column="ID" property="id" />
        <result column="REVIEW_Time" property="reviewTime" />
        <result column="WHETHER" property="whether" />
        <result column="DESCRIBE" property="describe" />
        <result column="ASSESSORY" property="assessory" />
        <result column="BULLETINID" property="bulletinid" />
    </resultMap>
    <insert id="insertAnzhaReview">
        insert into anzha_review values(#{id},#{reviewTime},#{whether},#{describe},#{assessory},#{bulletinid})
    </insert>
    <select id="selectOneById" resultMap="AnzhaReview_Map">
        select * from anzha_review order by REVIEW_Time desc limit 1
    </select>


</mapper>