<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.ancha.mapper.AnzhaInvestigationsMapper">
    <!-- AnzhaInvestigations的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_AnzhaInvestigations_Map" type="com.uhope.ancha.domain.AnzhaInvestigations">
        <id column="ID" property="id" />
        <result column="TITLE" property="title" />
        <result column="DATE" property="date" />
        <result column="REGIONID" property="regionid" />
        <result column="REGIONNAME" property="regionname" />
        <result column="REACHNAME" property="reachname" />
        <result column="COORDINATE" property="coordinate" />
        <result column="LEADER" property="leader" />
        <result column="PERSONNEL" property="personnel" />
        <result column="STATUS" property="status" />
        <result column="SCHEMEID" property="schemeid" />
    </resultMap>

    <!--查询所有的区-->
    <select id="districtlist" resultType="com.uhope.ancha.dto.RegionDTO">
        select distinct area_name as  regionName, id as regionId
        from md_administrative_region
        where grade=3
    </select>

    <select id="selectList" resultType="com.uhope.ancha.domain.AnzhaInvestigations">
        select * from AnZha_investigations
        <where>
            <if test="schemeid != null and schemeid != ''">
                and SCHEMEID=#{schemeid}
            </if>
            <if test="d != null and d != ''">
                and AnZha_investigations.DATE like CONCAT('%',#{d},'%')
            </if>
            <if test="region !=null and region != ''">
                and regionname=#{region}
            </if>
            <if test="status != null and status != ''">
                AND status=#{status}
            </if>
        </where>
    </select>
    <select id="selectListMonth" resultType="com.uhope.ancha.domain.AnzhaInvestigations">
        select * from AnZha_investigations where date like CONCAT(#{month},'%')
    </select>

    <!--查询河道id对应的name-->
    <select id="selectReachName" resultType="java.lang.String">
        select reach_name from md_reach where id=#{r}
    </select>

    <!--查询用户id对应的角色-->
    <select id="selectRole" resultType="java.lang.String">
        select name from sm_role sr INNER JOIN (select sur.role_id from sm_user_role sur where sur.user_id=#{id}) s on
          sr.id=s.role_id
    </select>

    <!--查询市河长办的角色id-->
    <select id="selectRoleId" resultType="java.lang.String">
        select id from sm_role where name =#{rolename}
    </select>

    <!--查询区对应的河道-->
    <select id="findRiverByRegion" parameterType="java.util.Map" resultType="java.lang.String">
    SELECT mr.reach_name AS regionName
    FROM md_reach mr, md_administrative_region mar
    WHERE mr.grade=3 AND mr.region_code=mar.id AND mar.id=#{regionid}
  </select>

    <!--根据区域id查询出对应的名字-->
    <select id="selectRegionName" resultType="com.uhope.ancha.dto.RegionDTO">
        select distinct area_name as  regionName, id as regionId
        from md_administrative_region
        where id=#{s}
    </select>


</mapper>