<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.bulletin.mapper.BulletinMapper">
    <resultMap id="BaseResultMap" type="com.uhope.bulletin.domain.Bulletin">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="issuer" jdbcType="VARCHAR" property="issuer"/>
        <result column="post_time" jdbcType="TIMESTAMP" property="postTime"/>
        <result column="month" jdbcType="VARCHAR" property="month"/>
        <result column="detail_url" jdbcType="VARCHAR" property="detailUrl"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="attand_url" jdbcType="VARCHAR" property="attandUrl"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="year" jdbcType="VARCHAR" property="year"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.uhope.bulletin.domain.Bulletin">
        <result column="detail" jdbcType="LONGVARCHAR" property="detail"/>
    </resultMap>
    <select id="selectByFirst" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select * from bulletin where type=#{type} order by id desc LIMIT 10
    </select>
    <select id="selectshujihui" resultMap="BaseResultMap">
        select * FROM bulletin where 1=1
        <if test="type != null">
            AND type=#{type}

        </if>

        <if test="year != null">
            AND year like #{year}
        </if>
        <if test="month != null">
            AND month like #{month}
        </if>
        ORDER BY id desc
    </select>
</mapper>