<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.bulletin.mapper.BulletinMapper">
    <resultMap id="BaseResultMap" type="com.uhope.bulletin.domain.Bulletin">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="issuer" jdbcType="VARCHAR" property="issuer"/>
        <result column="post_time" jdbcType="TIMESTAMP" property="post_time"/>
        <result column="month" jdbcType="VARCHAR" property="month"/>
        <result column="detail" jdbcType="LONGVARCHAR" property="detail"/>
        <result column="detail_url" jdbcType="VARCHAR" property="detail_url"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="attand_url" jdbcType="VARCHAR" property="attand_url"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="year" jdbcType="VARCHAR" property="year"/>
    </resultMap>
    <select id="selectByFirst" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select * from bulletin where type=#{type} order by id desc LIMIT 10
    </select>
    <select id="selectlist" resultMap="BaseResultMap">
        select * FROM bulletin
        <where>
            <if test="type != null and type !=''">
                AND type=#{type}

            </if>
            <if test="post_time != null and post_time !=''">
                AND post_time like CONCAT('%',#{post_time},'%')
            </if>
        </where>
        ORDER BY create_time desc
    </select>
</mapper>