<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserDao">
    <resultMap type="user" id="UserResult">
        <id property="id" column="id" />
        <result property="password" column="password" />
        <association property="userInfo" column="userid"
                     select="com.example.demo.dao.UserInfoDao.findUserInfoById"></association>
    </resultMap>

    <select id="findUserInfoById" parameterType="String" resultMap="UserResult">
		select * from sysuser u,userinfo i where u.id=i.userid and u.id=#{id}
	</select>
</mapper>