<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uhope.quality.mapper.WaterQualityMapper">

    <select id="selectList" resultType="com.uhope.quality.domain.WaterQuality">
        select * from water_quality
        <where>
            <if test="issue != null and issue!=''">
                and issue = #{issue}
            </if>
            <if test="status != null and status !=''">
                AND status=#{status}
            </if>
            <if test="createUser != null and createUser !=''">
                AND createUser like CONCAT('%',#{createUser},'%')
            </if>
            <if test="num !=null and num!=''">
                and status !=#{num}
            </if>
        </where>
    </select>

    <select id="get1" resultType="com.uhope.quality.domain.WaterQuality">
        select * from water_quality where id =#{id}
    </select>
    <select id="selectRole" resultType="java.lang.String">
        select name from sm_role sr INNER JOIN (select sur.role_id from sm_user_role sur where sur.user_id=#{id}) s on
          sr.id=s.role_id
    </select>
    <select id="selectHave" resultType="com.uhope.quality.domain.WaterQuality">
        select * from water_quality where issue=#{issue}
    </select>
</mapper>